.chart__content {
  width: clamp(320px, 100%, 501px);
  padding: 24px;
  background-color: #fff;
  color: #364954;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(39, 39, 39, 0.2);

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.chart__paragraph {
  font-size: clamp(14px, 5vw, 1.5em);
  font-weight: bolder;
}

.chart___pie {
  margin-right: 0;
}

@media screen and (max-width: 414px) {
  .chart__content {
    max-width: max(220px,100%);
    padding: 18px 8px;
  }
  .chart__paragraph {
    font-size: 14px;
  }

  .chart___pie {
    margin: 0;
  }
}

@media screen and (min-width: 891px) {
 .chart__content {
   height: 168px;
 }
}