* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
.slider-content {
    position: relative;
    width: 100%;
    text-align: center;
  }
  .logo {
    margin: 10px;
    width: 45%;
  }
  .swiper-container {
     max-width: 450px;
      z-index: 1;
      text-align: center;
    }
  .slide-image {
    margin: 10px;
    width: 100%;
    min-width: 150px;
    height: auto;
    z-index: 2;
  }
  .slide-title {
      font-size: 24px;
      font-weight: 600;
      letter-spacing: 1px;
      color: #272727;
  }
  .slide-subtitle {
      font-size: 16px;
      font-weight: normal;
      line-height: 24px;
      color: #272727;
      margin-bottom: 15%;
  }
  .swiper-pagination-bullet {
      width: 11px;
      height: 11px;
      background: #0098C9;
      opacity: 0.3;
    }
    .swiper-pagination-bullet-active {
      background: #0098C9;
      opacity: 1;
    }
    .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
      margin: 0px 8px 5% 8px;
    }
    .signin-text {
      font-size: 16px;
      font-weight: normal;
    }